@media (min-width: 500px) {
  body {
    background: red;
  }
  .flex-box {
    display: flex;
  }
  .cards {
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

body {
  margin-top: 30px;
  font-family: "Segoe UI";
  background-color: white;
}

.today-card1 {
  padding: 18px;
  font-family: "Segoe UI";
  background: rgb(250, 247, 247);
  box-shadow: 0 5px 15px -5px rgb(58, 210, 236);
}

.today-card h3 {
  text-transform: capitalize;
}

.today-card2 {
  padding: 18px;

  font-family: "Segoe UI";
  background: rgb(250, 247, 247);
  box-shadow: 0 5px 15px -5px rgb(58, 210, 236);
}

.today-card3 {
  padding: 18px;

  font-family: "Segoe UI";
  background: rgb(250, 247, 247);
  box-shadow: 0 5px 15px -5px rgb(58, 210, 236);
}
@media (max-width: 1000px) {
  .flex-box {
    flex-direction: column;
  }
}
