

body {
  font-family: "Segoe UI";

  background-image: url(https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);

  background-size: cover;
}

.heading {
  direction: rtl;
}
.heading h1 {
  word-wrap: break-word;

  font-size: 150px;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 5px 5px 5px gray;
}
.heading h2 {
  display: inline-block;

  margin: 0;
  padding: 0;
  
  font-size: 70px;

  color: rgb(235, 69, 69);
}



.flexbox{
    margin: 20px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
 
}
.qoutebox {
  font-style: italic;
  line-height: 2em;

  border: 2px;
  border-style: solid;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;

  color: white;
  box-sizing: border-box;
  flex-basis: 35%;
}

.card {
  border: 5px solid #ffffff;
  border-radius: 15px;
  padding: 10px;

  text-align: center;
  font-size: 30px;
}

.card h2 {
  font-family: verdana;
  color: black;
  font-size: 50px;
  margin: 0px;
  padding: 20px;
}

.formfeild {
  margin-bottom: 10px;
  border-bottom: 3px solid white;
}

.formfeild input[type="text"],
.formfeild input[type="password"] {
  background: none;
  border: 0;
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
::placeholder {
  color: white;
}
:focus {
  outline: none;
}

.button {
  border: 3px solid white;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;

  background: none;

  text-transform: uppercase;
  color: red;
  font-size: 15px;
}

.button:hover {
  background-color: rgb(235, 69, 69);
  color: white;
}

#signup {
  margin: 0;
  padding: 0;
}
#signup a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#signup a:visited {
  color: white;
}

#signup a:hover {
  color: red;
}


@media (max-width: 600px) {
  .heading h1{
    font-size: 70px;
  }
  .heading h2{
    font-size: 40px;
  }
  
  .flexbox {
    
    flex-direction: column;
  }

}

