body{
    font-family: verdana;
}
header{
    background-color: rgb(0, 47, 201); 
}
.card{
    font-size: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(35, 48, 56);
    display: inline-block;
    position: absolute;
    left:40%;
    padding: 20px;
    margin: 0;
    top:20%;
       
}
