* {
  margin: 0;
  padding: 0;
  margin: 10px 0px 0px 2px;

}
body{
  background: rgb(238, 245, 255);
}
.sidebar {
  background: rgb(31, 31, 54);
  
  display: inline-block;
  
  width: 15%;
  margin-top: 30px;
  
  
  padding-bottom: 30px;
  
  line-height: 40px;
  font-family: candara, Arial;
  
  border: 0px ;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}
.sidebar header {
 
  border: 1px solid rgb(31, 31, 54);
  border-top-left-radius: 15px;
  line-height: 60px;
  
  padding-right: 30px;
  padding-top: 50px;
  

  color: rgb(255, 255, 255);

  text-align:right;
  font-size:15px;
  
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  background-color: rgb(38, 38, 68);
}
.sidebar ul {
  display: block;
  text-align: left;
}

.sidebar li {
  list-style: none;
  text-transform: uppercase;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  padding: 20px 10px;
}

.sidebar a {
  text-decoration: none;

  color: rgb(253, 253, 253);
}

.sidebar i {
  margin: 0px 10px;
}
.sidebar li:hover .material-icons {
  padding-left: 20px;

  
  color: rgb(210, 228, 190);
}
.sidebar li:hover {
  border-left: 3px solid rgb(233, 233, 233);
  
  
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  background-color: rgb(158, 216, 50);
  font-weight: 800;
}
#logout:hover .material-icons {
  color: rgb(230, 125, 125);
  
}
#logout:hover {
  background-color: rgb(228, 43, 43);
}


