* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(119, 143, 175);
}

.sidebar {
  display: flex;
  flex-direction: column;
  
  
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-bottom:15px; 
  margin:20px;
  
  
  line-height: 40px;
  font-family: candara, Arial;
  background: rgb(31, 31, 54);
}
.sidebar header {
  border: 1px solid  rgb(26, 34, 100);
  border-top-left-radius: 15px;
  padding: 60px 10px;

  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  background-color: rgb(31, 32, 77);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
  text-align: left;
}

.sidebar li {
  list-style: none;
  text-transform: uppercase;
  display: flex;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}

.sidebar a {
  flex:1;
  
  padding: 20px;

  text-decoration: none;
  color: rgb(253, 253, 253);
}

.material-icons {
  margin: 5px;
}

.sidebar li:hover .material-icons {
  padding-left: 20px;

  color: rgb(210, 228, 190);
}
.sidebar li:hover {
  border-left: 3px solid rgb(233, 233, 233);

  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  font-weight: 800;

  background-color: rgb(158, 216, 50);
}

.sidebar li:last-child:hover .material-icons {
  color: rgb(230, 125, 125);
}

.sidebar li:last-child:hover {
  background-color: rgb(228, 43, 43);
}

@media (max-width: 1000px) {

  .sidebar{
    margin:0px;
    border-radius:15px;
    padding-bottom: 0; 
  }
  .sidebar header{
    border-top-left-radius:0px; 
    padding: 0px;
  }
.sidebar ul{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  
}
.sidebar li{

  border:0px;
  
  
}
.sidebar a{
  padding: 0px 10px;
}
.sidebar ul .material-icons{
  display: none;
}
.sidebar li:hover {
  
  border-left:0;
}


.sidebar header:hover{
 
}

.sidebarli {

  display: flex;
  
  

}