body{
    background-image:linear-gradient(to bottom right, rgb(58, 58, 56), rgb(65, 65, 65));
    font-family:'Courier New';
}
h1{
    
    font-size: 60px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
}
.signincard{

    text-align: center;
    padding: 20px 50px;
    background-color:rgb(218, 218, 76);
    border: 1px solid black;
    
    position: absolute; 
    left: 40%;
    top: 20%;
    box-shadow: 5px 5px 5px black;

}


.formfeild{
    margin-bottom:20px;
    
    border-bottom:1px solid black;
}

.formfeild input[type="text"],.formfeild input[type="password"],.formfeild input[type="email"],.formfeild input[type="date"]
{
    font-family: 'Courier New', Courier, monospace;
    background: none;
    border: 0;
    margin: 0;
    color:black;
    font-size: 15px;
    font-weight:500;
}

:focus{
    outline: none;
}

.button { 
    border:1px solid black;
    border-radius: 15px;
    margin:20px;
    padding:15px;
    font-size: 15px;
    font-family: 'Courier New';
    background:none;
    text-transform: uppercase;
    color:black;
}

::placeholder{
    color: black;
}

.button:hover{
    background-color:black;
    color: white;
}



