
body{

}

h1{
    font-size: 50px;
    text-align:center;
    margin-top: 20%;
}


#back{
    text-align: center;
    font-size: 20px;


}

a:link{
    color:red;
}

a:visited{
    color:yellow;
}

a:hover{
    color:black;
}

a:active{
    color:green;
}